* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 1005;
}

.wrapper {
  display:flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  padding-left: 25px;
  padding-top: 15px;
}
